.gridBox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin-top: 10px;
}
.categoryChartWrapper {
  height: 250px;
}
.detailWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detailWrapper > h1 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailWrapper > p {
  color: #818181;
  width: 100%;
}
.detailWrapper span {
  font-size: 16px;
}
.detailTextBox {
  display: flex;
}
.detailSubTitle {
  color: #515151;
}
.detailContentUrl {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #808080;
  text-decoration: none;
}
.detailContentUrl:hover {
  transition: all 0.3s;
  color: #21b599;
}
.priceWrapper {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.priceWrapper > h2 {
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .gridBox {
    display: block;
  }
  .categoryChartWrapper {
    height: 250px;
  }
}
