.payment-list-section-style {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  width: 375px;
  height: 380px;
  overflow-y: scroll;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}
.ttl-amount-style {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-weight: 400;
  font-size: 20px;
  color: #515151;
}
.payment-list-article-style {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  text-align: right;
}
.payment-list-article-style:hover {
  transition: all 0.3s;
  cursor: pointer;
  background: #f0f0f0;
  opacity: 0.7;
}
span {
  margin: 0;
  font-size: 12px;
  color: gray;
}
.line-style {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  margin: 10px 0;
}
.flex-style {
  display: flex;
  justify-content: space-between;
}
h4 {
  margin: 5px;
}
