@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Merriweather Sans", sans-serif, "Rubik", "Maven Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch !important;
  -ms-overflow-style: none !important;
  scroll-behavior: smooth !important;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
section {
  width: 100%;
}
<<<<<<< HEAD
textarea:active,
textarea:focus,
=======
>>>>>>> 0a6b97083320d2de4465f96072ee97f5f6b0d2cf
input:active,
input:focus {
  outline: none;
  background: rgba(209, 209, 209, 0.2);
  border-radius: 5px;
  transition: all 0.3s;
}
